
<!-- <p id="notice"><%= notice %></p>

<h1>Champ</h1>
<header class="navbar bg-gray">
  <section class="navbar-section navbar-brand mr-2">Post History</section>
  <section class="navbar-section">
    <div class="input-group input-inline">
      <div>
        <%= link_to 'Write a New Post', new_post_path, class: "btn btn-primary"%>
      </div>
    </div>
  </section>
</header>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %> <%= post.factorial %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><button class="btn"><%= link_to 'Show', post %></button></td>
        <td><button class="btn"><%= link_to 'Edit', edit_post_path(post) %></button></td>
        <td><button class="btn"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
