<h1>Champ</h1>
<header class="navbar bg-gray">
  <section class="navbar-section navbar-brand mr-2">Editing Post</section>
</header>
<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
